@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollBtn {
    z-index: 10;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
  }
}