@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollBtn {
    z-index: 10;
    background-color: black;
    border: 1px solid #cccbce;
    border-radius: 5px;
    color: #CAAE81;
    cursor: pointer;
  }
}