@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollBtn {
    z-index: 10;
    background-color: black;
    border: 1px solid #cccbce;
    border-radius: 5px;
    color: #CAAE81;
    cursor: pointer;
  }

  .animateText{
    animation: slide 1s linear;
    z-index: -1;
  }

  .animateText2{
    animation: slide 1s linear 1s;
    z-index: -1;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .animateText3{
    animation: slide 1s linear 2s;
    z-index: -1;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .animateBorder{
    animation: fades 3s linear;
    animation-iteration-count: 1;
  }

  .skeleton-load{
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  @keyframes slide {
    0%{
      translate: 100%;
      opacity: 0;
    }
    50% {
      translate: 50%;
      opacity: .1;
    }
    100% {
      translate: 0%;
      opacity: 1;
    }
  }

  @keyframes fades {
    0%{
      border-left: 0;
    }
    25%{
      border-left: 2px solid #D8C29D;
    }
    50% {
        border-left: 4px solid #D8C29D;
    }
    75%{
      border-left: 6px solid #D8C29D;
    }
    100% {
       border-left: 8px solid #D8C29D;
    }
  }

  @keyframes skeleton-loading {
    0%{
        background-color: rgb(39, 35, 25);
        /* color: rgb(12, 11, 8); */
    }
    100%{
        background-color: rgb(77, 68, 47);
    }
}

}